body {
    background-color: black;
    height: 1000px;
    width: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    text-align: center;
    color: whitesmoke;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Nightscary\ Free\ Trial.ttf);
}

button {
    background: black;
    color: white
}

h1 {
    margin: 0;
    user-select: none;
    text-align: center;
    font-weight: 600; 
    color:white;
    font-size: large;
}

h2 {
    margin: 0;
    user-select: none;
    text-align: center;
    font-weight: 500; 
    color: white;
    font-size: medium;
}
    
p {
    font-weight: 300;
    color: #FFFFFF;
    user-select: none;
    text-align: center;
    margin: 0; 
}
    
    
a { 
    text-align: center;
    text-decoration: none;
    color: #FFF; 
    font-size: medium;
}

.screenContainer {
    /* background: rgb(133, 59, 59); */
    background-image: url('../images/86326.jpg');
    height: 52vh;
    width: 71vw;
    text-align: center;
    display: inline-block;
    top: 8vh;
    position: relative;
}

.outerbox {
    height: 82vh;
    display: inline-block;
    margin-top: -1vh;
    width: 90vw;
    float: left;
}

.screen {
    height: 52vh;
    width: 71vw;
    text-align: center;
    display: inline-block;
    top: 8vh;
    position: relative;
}

.checked{
    display: flex
}

.choiceA {
    background: black;
    height: 18vh;
    width: 29vw;
    float: left;
}
  
.choiceB {
    background: black;
    height: 18vh;
    width: 29vw;
    float: right;
}

.choiceC {
    height: 18vh;
    width: 29vw;
    top: 16vw;
    background: white;
    position: relative;
    align-self: center;
    display: inline-block;
}

