body {
    background-color: black;
    background-image: url('../images/86326.jpg');
    height: 1000px;
    width: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    text-align: center;
    color: whitesmoke;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Nightscary\ Free\ Trial.ttf);
}

h1 {
    margin: 0;
    user-select: none;
    text-align: center;
    font-weight: 300; 
}

h2 {
    margin: 0;
    user-select: none;
    text-align: center;
    font-weight: 100; 
}
    
    
p {
    font-weight: 300;
    color: #FFFFFF;
    user-select: none;
    text-align: center;
    margin: 0; 
}
    
    
a { 
    text-align: center;
    text-decoration: none;
    color: #FFF; 
}

.gamescreen {
    background: red;
    height: 52vh;
    width: 71vw;
    text-align: center;
    display: inline-block;
    top: 8vh;
    position: relative;
}

.choiceA{
    background: black;
    height: 18vh;
    width: 29vw;
    float: left;
  
  }
  
.choiceB{
    background: black;
    height: 18vh;
    width: 29vw;
    float: right;
  
  }

